@model Locu_Test_App.FilterConfig

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<div>
    <h4>FilterConfig</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
